.summarycard {
  width:40%;
  height:auto;  
  border-radius: 40px;
  background: linear-gradient(rgba(129,130,134,0.4)0%, rgba(0,0,0,0.4)100%);
  font-family: 'Heavitas';
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  justify-content: center;
  align-items: center;
  }
.summarycard .card_value {
  font-family: 'Heavitas';
  font-weight: 400;
  font-size: 45px;
  align-items: center;
  color:#FFFFFF;
  text-align: center;
 } 
.summarycard .card_text {
  font-family: 'Heavitas';
  font-weight: 400;
  font-size: 18px;
  font-style:normal;
  letter-spacing: 0px;
  vertical-align: middle;
  align-items: center;
  color:#FFFFFF;
}
/*showcase_card*/
.showcase_card{
  width:15%;
  height:auto;
  border-radius: 40px;
  background: linear-gradient(rgba(129,130,134,0.4)0%, rgba(0,0,0,0.4)100%);
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  text-align: center;
  padding:60px 0px;
}
.showcase_card .card_value{
  font-family: 'Heavitas';
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  align-items: center;
  color:#FFFFFF;
}
.showcase_card .card_text{
  font-family: 'Heavitas';
  font-weight: 400;
  color: #C3C3CE;
  font-style: Regular;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
.showcase_statcard{
  width:30%;
  height:auto;
  border-radius: 40px;
  background: linear-gradient(rgba(129,130,134,0.4)0%, rgba(0,0,0,0.4)100%);
  padding: 60px 15px;
  justify-content: center;
  align-items: center;
}
.showcase_statcard p{
  font-family: 'Heavitas';
  font-weight: 400;
  color:#FFFFFF;
  font-size: 26px;
  text-align: center;
}

/*---Mobile View---*/
@media (max-width: 768px) {
.summarycard {
  width: 60%;   
  margin: 0 auto;
  padding: 40px;
}
.summarycard .card_value {
  font-size: 45px;
}
.summarycard .card_text {
  font-size: 16px;
}
.showcase_card {
  width: 100%;        
  padding: 50px 0px;
}
.showcase_card .card_value {
  font-size: 30px;
}
.showcase_card .card_text {
  font-size: 16px;
}
.showcase_statcard {
  grid-column: 1 / -1;
  width: 100%;
  padding: 46px 0px;
}
.showcase_statcard p {
  font-size: 25px;
}
.summarycard,
.showcase_card,
.showcase_statcard {
  border-radius: 16px;
}
}

/* SMALL MOBILE */
@media (max-width: 425px) {
.summarycard {
  width: calc(100% - 40px);   
  margin: 0 auto;
  padding: 38px 0px;
}
.summarycard .card_value {
  font-size: 26px;
}
.summarycard .card_text {
  font-size: 12px;
}
.showcase_card {
  width: 100%;        
  padding: 42px 0px;
}
.showcase_card .card_value {
  font-size: 18px;
}
.showcase_card .card_text {
  font-size: 11px;
}
.showcase_statcard {
  grid-column: 1 / -1;
  width: 100%;
  padding: 46px 0px;
}
.showcase_statcard p {
  font-size: 18px;
}
.summarycard,
.showcase_card,
.showcase_statcard {
  border-radius: 16px;
}
}


