.questspage{
  overflow: visible;
  position:relative;
  border-radius:50px;
  padding:0px 10px;
  overflow-y: auto;
}
.questspage::-webkit-scrollbar {
  display: none;
}
.title {
  position:relative;
  font-family: 'Heavitas';
  font-weight: 400;
  font-size: 24px;
  color: #f4f4f4;
  text-align: left;
  display: inline-block;
  padding: 0px 20px 5px 5px;
}
.title::after {
  content: "";
  position: absolute;
  left: 5px;              
  bottom: 0;
  height: 0.5px;
  width: 72rem;           
  max-width: 1200px;     
  background-color: #FFFFFF;
  opacity:30%;
}
.quest_gallery{
  display:flex;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  position: relative;
  padding-left: 20px;
  top:30px;
}


