.background {
    background-image: url("../../assets/images/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

.introcard{
    display:flex;
    gap:20px;
}
.overlayBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(8px);
    width: 530px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 200px;
    margin-bottom: 15px;
}
.title {
    color: white;
    font-size: 3rem;
    font-family: 'BarlowCondensed';
    font-weight: 300;
    text-align: left;
}
.gamified{
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Bangers';
    letter-spacing: 0.5rem;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px auto;
}
.login_title{
    display:flex;
    flex-direction: column;
}
.login_title .text{
    font-family: BeVietnam;
    font-weight: 400;
    font-style: Regular;
    font-size: clamp(1.8rem, 2vw + 1.2rem, 3rem);
    text-align: justify;
    color:#FFFFFF;
}
.login_title .desc{
   font-family: BeVietnam;
   font-weight: 400;
   font-style: Regular;
   font-size: 12px;
   text-align: justify;
   color:#FFFFFF;
}
.login_form{
   display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    padding: 40px 40px 10px;
    border-radius: 12px;
    background: #D9D9D90D;
    border: 1px solid rgba(179, 182, 186, 0.4);
    backdrop-filter: blur(8px);
    width: 630px;
    height:340px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.login_form input{
    width:80%;
    height:10%;
    border-radius: 10px;
    font-size: 14px;
    color:#FFFFFF;
    font-family: BeVietnam;
    font-weight: 400;
    font-style: Regular; 
}
.login_form input::placeholder{
   font-family: BeVietnam;
   font-weight: 400;
   font-style: Regular;
   font-size: 16px;
   text-align: justify;
}
@media (max-width: 768px) {
.background {
    height: auto;
    flex-direction: column;
    padding: 10px 30px;
}
.introcard{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.overlayBox {
    width: 430px;
    height: auto;
}
.logo {
    width: 100px;
}
.title {
   font-size: 1.5rem;
}
.gamified{
    text-align: left;   
    letter-spacing: 0.3rem;
}
.login_title .desc{
   font-size: 9px;   
}
.login_form{
    padding: 10px 10px 5px;
    width: 300px;
}
.login_form input{
    width:60%;
    height:10%;
}   
.login_form input::placeholder{
   font-size: 12px;
}
}