.settingspage{
  border-radius:50px;
  padding:10px 10px 0px;
 
}
.title {
  position:relative;
  font-family: 'Heavitas';
  font-weight: 400;
  font-size: 24px;
  color: #f4f4f4;
  text-align: left;
  display: inline-block;
  padding: 0px 20px 10px 5px;
}
.title::after {
  content: "";
  position: absolute;
  left: 5px;              
  bottom: 0;
  height: 0.5px;
  width: 72rem;           
  max-width: 1200px;     
  background-color: #FFFFFF;
  opacity:30%;
}
.settings_code{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.settings_form{
  display:flex;
  flex-direction: column;
  gap:20px;
  padding:30px 20px 0px;
}
.form_layout{
  display:flex;
  gap: 60px;
  align-items:flex-start;
}
.form_button{
    width:75%;
    display: flex;
    justify-content: flex-end;

}