.settingspage{
  border-radius:50px;
  padding:10px 10px 0px;
}
.title {
  position:relative;
  font-family: 'Heavitas';
  font-weight: 400;
  font-size: 24px;
  color: #f4f4f4;
  text-align: left;
  display: inline-block;
  padding: 0px 20px 10px 5px;
}
/*.title::after {
  content: "";
  position: absolute;
  left: 5px;              
  bottom: 0;
  height: 0.5px;
  width: 72rem;           
  max-width: 1200px;     
  background-color: #FFFFFF;
  opacity:30%;
}*/
.settings_code{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.settings_form{
  display:flex;
  flex-direction: column;
  gap:20px;
  padding:30px 20px 0px;
}
.form_layout{
  display:flex;
  gap: 60px;
  align-items:flex-start;
}
.form_button{
    width:75%;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 768px) {
  .title {
    font-size: 18px;
  }
  .settings_form {
    padding: 20px 10px;
    gap: 15px;
  }
  .form_layout {
    flex-direction: column;
    gap: 10px;
  }
  .form_layout label {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    padding-left: 5px;
    font-size: 12px;
  }
  .form_layout input {
    width: 80%;
  }
  .form_layout input::placeholder{
    font-size: 10px;
  }
  .form_button {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}