.navbar {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: white;
  position:relative;
}
.logo {
  width: 10rem;
}
/* User dropdown container */
.userWrapper {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}

/* Avatar + name (hover trigger) */
.userTrigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding-right: 100px;
}

/* Avatar style */
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* Username text */
.username {
  font-size: 16px;
  font-weight: 600;
  font-family: 'SfCompact';
  
}

/* Dropdown panel */
.dropdown {
  position: absolute;
  top: 100%;
  /* Ensures it's directly attached below */
  right: 0;
  background: #222;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  min-width: 8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  z-index: 10;
}

/* Keep dropdown open when hovering down */
.userWrapper:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

/* Dropdown Items */
.dropdownItem {
  padding: 0.5rem 1rem;
  font-size: 13px;
  cursor: pointer;
  font-family: 'SfCompact';

}
.dropdownItem:hover {
  background: #333;
}
@media (max-width: 768px) {
.navbar{
    padding: 0.5rem 0.2rem 0.1rem;
    width:100%;
  }
.username {
    font-size: 12px;
  }
.logo {
  width: 7rem; 
  margin-left:0;
}
.userWrapper {
  padding: 0;
}
.userTrigger {
  padding-right: 0px;
}
.avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.dropdown {
  display:none
}

}
@media (max-width: 475px) {
.navbar{
    height:1rem;
    width:100%;
    padding: 0.5rem 0.2rem 0.1rem;
  }
.username {
    font-size: 12px;
  }
.logo {
  width: 7rem; 
  margin-left:0;
}
.userWrapper {
  padding: 0;
}
.userTrigger {
  padding-right: 0px;
}
.avatar {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.dropdown {
  display:none
}

}
