.leaderpage{
  border-radius:50px;
  padding:0px 10px;
}
.leader_code{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.leader_form{
  display:flex;
  flex-direction: column;
  gap:20px;
  padding:30px 10px;
}
.form_layout{
  display:flex;
  gap: 60px;
  align-items:center;
  flex-wrap: wrap;
}
.form_layout label{
  width:150px;
  height:50px;
  display:flex;
  text-align: center;
  justify-content: center;
  padding:10px;
  align-items: center;
}
.form_layout input{
  height:50px;
  display:flex;
  text-align: center;
  justify-content: center;
  padding:10px;
  align-items: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
.form_layout input::placeholder{
  font-family: Heavitas;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  text-align: right;
  color: #FFFFFF;
}
.leader_form{
 padding:20px 0px;
}
.leader_button{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-left: 220px;
}
.first_row{
  display: flex;
  gap:15px;
}
.second_row{
  display: flex;
  gap:15px;
}
@media (max-width: 768px) {

  .leader_code {
    align-items: stretch;
    justify-content: flex-start;
  }

  .leader_form {
   max-width: 100%;
  }

  .form_layout {
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
  }

  .form_layout label {
    width:80%;
    height: auto;
    justify-content: flex-start;
    font-size: 12px;
  }

  .form_layout input {
    border-radius: 40px;
    padding:0;
  }

  .leader_button {
    margin-left: 0px;
    width: 100%;
    align-items: flex-start;
  }

  .first_row,
  .second_row {
    width: 80%;
    justify-content: space-between;
    gap:10px;
  }
}
