.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar {
  padding: 20px;
  width: 15%;
  background: linear-gradient(78.47deg, rgba(252, 53, 97, 0.4) -7.11%, rgba(150, 32, 58, 0.4) 107.74%);
  border-radius: 0 0 2rem 2rem;
  color: white;
  font-weight: bold;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 15px 0;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #FFC107;
}

.submenu ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 8px;
  font-weight: normal;
  font-size: 0.9rem;
}